<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reddit Subreddit Predictor</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #ebedef;
        }
        .container {
            max-width: 600px;
            margin: 50px auto;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Welcome to Reddit Subreddit Predictor</h1>
        <button id="predict-btn" class="btn btn-primary mt-5">Predict Subreddit</button>
        <div id="loading" style="display: none;">
            <p>Loading ... </p>
        </div>
        <h2 class="mt-5">Result:</h2>
        <p id="post-title"></p>
        <p id="predicted"></p>
        <p id="actual"></p>
        <p id="result"></p>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>
    $(document).ready(function() {
        $('#predict-btn').click(function() {
            // Show loading gif
            $('#loading').show();

            $.ajax({
                url: '/predict',
                type: 'POST',
                success: function(response) {
                    // Hide loading gif
                    $('#loading').hide();
                    console.log(response)
                    $('#post-title').text("Title of the Post: " + response.title);
                    $('#predicted').text("Predicted Subreddit: " + response.predicted_sub);
                    $('#actual').text("Actual Subreddit: " + response.actual_sub);
                    $('#result').text(response.result);
                },
                error: function(error) {
                    console.log(error);
                }
            });
        });
    });
    </script>
</body>
</html>
